<section>
    <div class="container-fluid-1 leftSide">
        <div class="container-fluid">
            <div class="row">
                <div
                    class="col-12 col-lg-3 d-flex flex-column align-items-start justify-content-center position-relative leftSideContainer">
                    <div class="container p-3" data-aos="fade-down">
                        <h3 class=" mb-1 text-white">{{con.leftContact.name}}</h3>
                        <h1 class=" mb-1 text-white">{{con.leftContact.slogan}}</h1>
                    </div>
                </div>
                <div class="col-12 col-lg-9 bg-white p-5">
                    <div class="container pt-3">
                        <div class="contact-content h-100 pt-6 ps-6 pb-6">
                            <div class="bg-light p-4">
                                <div class="row g-5">
                                    <div class="col-xl-5 wow fadeInUp" data-wow-delay="0.1s"
                                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                        <p class="mb-4">{{con.contactInfo.description}}
                                        </p>
                                        <div class="d-flex mb-4">
                                            <div class="btn-xl-square bg-primary text-white me-3">
                                                <i class="fas fa-map-marker-alt m-0 text-white"></i>
                                            </div>
                                            <div>
                                                <h5 class="fw-bold text-dark">Address</h5>
                                                <p class="mb-0">{{con.contactInfo.Address}}</p>
                                            </div>
                                        </div>
                                        <div class="d-flex mb-4">
                                            <div class="btn-xl-square bg-primary text-white me-3">
                                                <i class="fas fa-envelope m-0 text-white"></i>
                                            </div>
                                            <div>
                                                <h5 class="fw-bold text-dark">Mail Us</h5>
                                                <p class="mb-0">{{con.contactInfo.Email}}</p>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="btn-xl-square bg-primary text-white me-3">
                                                <i class="fa fa-phone-alt m-0 text-white"></i>
                                            </div>
                                            <div>
                                                <h5 class="fw-bold text-dark">Telephone</h5>
                                                <p class="mb-0">{{con.contactInfo.Phone}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-7 wow fadeInUp" data-wow-delay="0.3s"
                                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                        <div>
                                            <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
                                                <div class="row g-3">
                                                    <div class="col-lg-12 col-xl-6">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control border-0" id="name"
                                                                placeholder="Your Name" name="name"
                                                                [(ngModel)]="formData.name" required>
                                                            <label for="name">Your Name</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12 col-xl-6">
                                                        <div class="form-floating">
                                                            <input type="email" class="form-control border-0" id="email"
                                                                placeholder="Your Email" name="email"
                                                                [(ngModel)]="formData.email" required>
                                                            <label for="email">Your Email</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12 col-xl-6">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control border-0" id="phone"
                                                                placeholder="Phone" name="phone"
                                                                [(ngModel)]="formData.phone">
                                                            <label for="phone">Your Phone</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12 col-xl-6">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control border-0"
                                                                id="project" placeholder="Project" name="project"
                                                                [(ngModel)]="formData.project">
                                                            <label for="project">Your Project</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control border-0"
                                                                id="subject" placeholder="Subject" name="subject"
                                                                [(ngModel)]="formData.subject">
                                                            <label for="subject">Subject</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-floating">
                                                            <textarea class="form-control border-0"
                                                                placeholder="Leave a message here" id="message"
                                                                name="message" [(ngModel)]="formData.message"
                                                                style="height: 120px"></textarea>
                                                            <label for="message">Message</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <button type="submit" class="btn btn-primary w-100 py-3">Send
                                                            Message</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>