<section>
    <div class="container-fluid-1 leftSide">
        <div class="container-fluid">
            <div class="row">
                <div
                    class="col-12 col-lg-3 d-flex flex-column align-items-start justify-content-center position-relative leftSideContainer">
                    <div class="container p-3" data-aos="fade-down">
                        <h3 class=" mb-1 text-white">{{skill.leftSkill.name}}</h3>
                        <h1 class=" mb-1 text-white">{{skill.leftSkill.slogan}}</h1>
                    </div>
                </div>
                <div class="col-12 col-lg-9 bg-white p-5">
                    <div class="container pt-3">
                        <div class="education-content h-100 pt-6 ps-6 pb-6">
                            <div class="row">
                                <div class="col-6">
                                    <app-skill-counter [value]="98" label="Html" />
                                </div>
                                <div class="col-6">
                                    <app-skill-counter [value]="90" label="Css" />
                                </div>
                                <div class="col-6">
                                    <app-skill-counter [value]="80" label="Js" />
                                </div>
                                <div class="col-6">
                                    <app-skill-counter [value]="50" label="Ts" />
                                </div>
                                <div class="col-6">
                                    <app-skill-counter [value]="60" label="Angular" />
                                </div>
                                <div class="col-6">
                                    <app-skill-counter [value]="30" label="React" />
                                </div>
                                <div class="col-6">
                                    <app-skill-counter [value]="60" label="C++" />
                                </div>
                                <div class="col-6">
                                    <app-skill-counter [value]="60" label="C#" />
                                </div>
                                <div class="col-6">
                                    <app-skill-counter [value]="65" label="Sql" />
                                </div>
                                <div class="col-6">
                                    <app-skill-counter [value]="70" label="MongoDB" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>