<section>
    <div class="container-fluid-1 leftSide">
        <div class="container-fluid">
            <div class="row">
                <div
                    class="col-12 col-lg-3 d-flex flex-column align-items-start justify-content-center position-relative leftSideContainer">
                    <div class="container p-3">
                        <h3 class=" mb-2 text-white">{{port.leftPortfolio.name}}</h3>
                        <h1 class=" mb-2 text-white">{{port.leftPortfolio.slogan}}</h1>
                        <p class=" mb-2 text-white">A collection of my best work in web development and design,
                            bringing ideas to life with modern aesthetics.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-9 bg-white p-5">
                    <div class="container pt-3">
                        <div class="education-content h-100 pt-6 ps-6 pb-6">
                            <div class="row">
                                @for (item of port.portfolio; track $index) {
                                <div class="col-lg-4 col-6">
                                    <div class="card mb-4 shadow-sm position-relative">
                                        <img src={{item.pic}} alt="">
                                        <div class="card-body">
                                            <h6 class="fw-bold">{{item.projectName}}</h6>
                                            <p class="fw-light" style="font-size: 0.85rem;">{{item.desription}}</p>
                                            <button class="btn btn-primary btn-sm rounded-5">
                                                <a href="{{item.link}}" target="_blank"
                                                    class="fw-light  text-white">View Project
                                                </a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>