.card-body {
    height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.card:hover .card-body {
    height: 140px;
    opacity: 1;
    padding: 15px;
}

.card-after {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    z-index: 1;

}