<section>
    <div class="container-fluid-1 leftSide">
        <div class="container-fluid">
            <div class="row">
                <div
                    class="col-12 col-lg-3 d-flex flex-column align-items-start justify-content-center position-relative leftSideContainer">
                    <div class="container p-3" data-aos="fade-down">
                        <h3 class=" mb-1 text-white">{{about.leftAbout.name}}</h3>
                        <h1 class=" mb-1 text-white">{{about.leftAbout.slogan}}</h1>
                    </div>
                </div>
                <div class="col-12 col-lg-9 bg-white p-5">
                    <div class="container pt-3">
                        <div class="header-img d-flex h-100 pt-6 ps-6 pb-6">
                            <div class="row g-5">
                                <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.1s"
                                    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                    <div class="about-img bg-light p-4 wow fadeInUp" data-wow-delay="0.1s"
                                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                        <img src={{about.about.profile}} class="img-fluid w-100" alt="Image">

                                    </div>
                                </div>
                                <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                    <h3 class="titleWork mb-4 text-uppercase">{{about.about.titleName}}</h3>
                                    <p class="mb-4">{{about.about.description}}
                                        <br>
                                    <p class="mb-4">{{about.about.expText}}
                                    </p>
                                    <div class="describeInfo">
                                        <div class="row">
                                            <div class="col-lg-6 col-12">
                                                <p><strong class="text-dark">
                                                        Phone:
                                                    </strong> <span>{{about.about.phone}}</span></p>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <p><strong class="text-dark">
                                                        Nationality:
                                                    </strong> <span>{{about.about.Nationality}}</span></p>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <p><strong class="text-dark">
                                                        Address:
                                                    </strong> <span>{{about.about.Address}}</span></p>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <p><strong class="text-dark">
                                                        Email:
                                                    </strong> <span>{{about.about.Email}}</span></p>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <p><strong class="text-dark">
                                                        Freelancer:
                                                    </strong> <span>{{about.about.Freelancer}}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapper-btn">
                                        <button class="btn btn-primary">Downlord CV</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>