<section>
    <div class="blur-overlay" *ngIf="isActives" (click)="isActives = false"></div>
    <div class="container-fluid-1 leftSide" [ngClass]="leftSide.themeLeft()">
        <div class="container-fluid">
            <!-- stopPropagation on root so internal clicks won't trigger document listener -->
            <div class="circle-nav" [class.active]="isActives">
                <div class="circle-btn" (click)="toggleNav()">
                    <i class="fa-solid fa-link m-0" *ngIf="!isActives"></i>
                    <i class="bi bi-x-lg m-0" *ngIf="isActives"></i>
                </div>

                <ul class="circle-menu list-unstyled m-0" [class.active]="isActives">
                    @for (items of link; track $index) {
                    <li *ngFor="let item of menuItems; let i = index" [style.transform]="getItemPosition(i)">
                        <!-- stopPropagation on item link just to be extra safe -->
                        <a href={{items.link}} (click)="$event.stopPropagation()" class="fw-bold">
                            <h3>
                                <i class={{item}}></i>
                            </h3>
                        </a>
                    </li>
                    }

                </ul>
            </div>

            <div class="row">
                <div
                    class="col-12 col-lg-3 d-flex flex-column align-items-start justify-content-center position-relative leftSideContainer">
                    <div class="container p-3">
                        @if (isActive) {
                        <h1 class=" mb-1 ">{{leftSide.leftSide.name}}</h1>
                        <h3 class=" mb-4 mt-4 ">{{leftSide.leftSide.subtitle}}</h3>
                        <h1 class=" mb-1 ">{{leftSide.leftSide.slogan}}</h1>
                        <div class="wrapper-btn mt-4">
                            <!-- <button class="btn btn-primary btn-cv" (click)="clickNav()">

                                {{isAc}}
                            </button> -->
                        </div>
                        }@else {
                        <!-- <button class="btn btn-primary btn-cv mb-4" (click)="clickNav()">

                            {{isAc}}
                        </button> -->
                        <div class="card p-3 shadow-sm border-0" data-aos="fade-up">
                            <h5 class="fw-bold mb-3">SOCIAL LINKS</h5>
                            <div class="list-group">
                                <!-- Twitter -->
                                <a target="_blank"
                                    class="list-group-item list-group-item-action d-flex align-items-center mb-2 border rounded">
                                    <i class="fa-brands fa-x-twitter me-3 text-dark"></i>
                                    <div class="flex-grow-1">
                                        <div class="fw-semibold">Follow me on Twitter!</div>
                                        <small class="text-muted">@Bun sengtri</small>
                                    </div>
                                    <i class="bi bi-box-arrow-up-right ms-2"></i>
                                </a>

                                <!-- Instagram -->
                                <a href="https://instagram.com/Johnhenry" target="_blank"
                                    class="list-group-item list-group-item-action d-flex align-items-center mb-2 border rounded">
                                    <i class="fa-brands fa-instagram me-3 text-dark"></i>
                                    <div class="flex-grow-1">
                                        <div class="fw-semibold">My Store on Instagram</div>
                                        <small class="text-muted">@Bun sengtri</small>
                                    </div>
                                    <i class="bi bi-box-arrow-up-right ms-2"></i>
                                </a>

                                <!-- Pinterest -->
                                <a href="https://pinterest.com" target="_blank"
                                    class="list-group-item list-group-item-action d-flex align-items-center mb-2 border rounded">
                                    <i class="fa-brands fa-facebook-f me-3 text-dark"></i>
                                    <div class="flex-grow-1">
                                        <div class="fw-semibold">View Me On Facebook</div>
                                        <small class="text-muted">linkgoeshere</small>
                                    </div>
                                    <i class="bi bi-box-arrow-up-right ms-2"></i>
                                </a>

                                <!-- LinkedIn -->
                                <a href="https://linkedin.com/in/Johnhenry" target="_blank"
                                    class="list-group-item list-group-item-action d-flex align-items-center border rounded">
                                    <i class="fa-brands fa-linkedin-in me-3 text-dark"></i>
                                    <div class="flex-grow-1">
                                        <div class="fw-semibold">Connect on LinkedIn</div>
                                        <small class="text-muted">@bun sengtri</small>
                                    </div>
                                    <i class="bi bi-box-arrow-up-right ms-2"></i>
                                </a>
                                <!-- github -->
                                <a href="https://linkedin.com/in/Johnhenry" target="_blank"
                                    class="list-group-item list-group-item-action d-flex align-items-center border rounded">
                                    <i class="fa-brands fa-github me-3 text-dark"></i>
                                    <div class="flex-grow-1">
                                        <div class="fw-semibold">Connect on LinkedIn</div>
                                        <small class="text-muted">@bun sengtri</small>
                                    </div>
                                    <i class="bi bi-box-arrow-up-right ms-2"></i>
                                </a>

                            </div>
                        </div>

                        }
                    </div>
                </div>
                <div class="col-12 col-lg-9 p-5 headers-img" [ngClass]="leftSide.theme()">
                    <div class="container pt-3">
                        <div class="header-img d-flex h-100 pt-6 ps-6 pb-6">
                            <div class="row g-5">
                                <div class="col-xl-6 wow fadeInUp wrap-img" data-wow-delay="0.1s"
                                    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                    <div class="bg-light p-4  wrap-img"
                                        style="border-radius: 68% 32% 100% 0% / 0% 75% 25% 100%;">
                                        <img src={{leftSide.info.profile}} class="img-fluid w-100"
                                            style="border-radius: 68% 32% 100% 0% / 0% 75% 25% 100%;" alt="Image">
                                    </div>
                                </div>
                                <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                    <h3 class="titleWork mb-4 text-uppercase fw-bold">{{leftSide.info.titleWork}}</h3>
                                    <p class="mb-4">{{leftSide.info.description}}
                                        <br>
                                    <p class="mb-4">{{leftSide.info.expText}}

                                    </p>
                                    <div class="d-flex align-items-center mb-2">
                                        <i class="fas fa-map-marker-alt text-primary me-3"></i>
                                        <p class="mb-0">123 Street Cambodia</p>
                                    </div>
                                    <div class="d-flex align-items-center mb-2">
                                        <i class="fas fa-envelope text-primary me-3"></i>
                                        <p class="mb-0">sengtri457@gmail.com</p>
                                    </div>
                                    <div class="d-flex align-items-center mb-2">
                                        <i class="fa fa-phone-alt text-primary me-3"></i>
                                        <p class="mb-0">(+099) 706869</p>
                                    </div>
                                    <div class="d-flex align-items-center mb-4">
                                        <i class="fa-brands fa-github me-3 text-primary"></i>
                                        <p class="mb-0">sengtri457</p>
                                    </div>
                                    <div class="wrapper-btn">
                                        <button class="btn btn-primary btn-cv">
                                            <a href="https://drive.google.com/file/d/1glebGmjmh6N0r0TRmA5SFSbGT-a9v1dp/view?usp=drive_link"
                                                class=" text-decoration-none">
                                                Explore My CV
                                            </a>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>