<!-- <div>
    <h2>{{ displayValue }}%</h2>
    <p>{{ label }}</p>
</div> -->
<div class="row">
    <div class="col-sm-12">
        <div class="skill mb-4">
            <div class="d-flex justify-content-between">
                <p class="mb-2">{{label}}</p>
                <p class="mb-2">{{displayValue}}%</p>
            </div>
            <div class="progress">
                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                    aria-valuemax="100" [style.width.%]="displayValue"></div>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-6">
        <div class="skill mb-4">
            <div class="d-flex justify-content-between">
                <p class="mb-2">{{label}}</p>
                <p class="mb-2">{{displayValue}}%</p>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100" [style.width.%]="displayValue"></div>
            </div>
        </div>
        <div class="skill mb-4">
            <div class="d-flex justify-content-between">
                <p class="mb-2">{{label}}</p>
                <p class="mb-2">{{displayValue}}%</p>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                    aria-valuemax="100" [style.width.%]="displayValue"></div>
            </div>
        </div>
        <div class="skill mb-4">
            <div class="d-flex justify-content-between">
                <p class="mb-2">{{label}}</p>
                <p class="mb-2">{{displayValue}}%</p>
            </div>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                    aria-valuemax="100" [style.width.%]="displayValue"></div>
            </div>
        </div>
    </div> -->
</div>